.dashboard {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px; /* Width of the Sidebar */
  height: 100vh; /* Full height */
  background-color: #ffffff; /* Background color for Sidebar */
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

.mainContent {
  flex: 1; /* Take up remaining width */
  display: flex;
  flex-direction: column;
}

.topBar {
  width: 100%; /* Full width */
  background-color: #ffffff; /* Background color for TopBar */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

.content {
  flex: 1; /* Take up remaining height */
  padding: 1rem;
}
