.dashboard {
  display: flex;
  height: 100vh;
  background-color: #ECECEC;
}

.dashboardDark {
  display: flex;
  background-color: #1e1f23;
  height: 100vh;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.authContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.userBadge {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.userBadge button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.content {
  flex: 1;
  padding: 1.8rem;
  box-sizing: border-box;
  height: fit-content;
  overflow: hidden;
  box-sizing: border-box;
}

.cardContainer {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 0rem;
}

.welcomeCard {
  flex: 1;
  min-width: 0;
  max-width: 45em;
}

.barChart {
  flex: 1;
  min-width: 0;
  max-width: 25em;
}

.lineChartsContainer {
  margin-top: 1.5rem;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.chart1 {
  width: 23.25rem;
}

.chart2 {
  width: 23.25rem;
}

.chart3 {
  width: 24rem;
}

.lineChart {
  flex: 1;
  min-width: 0;
  max-width: 21.75em;
  max-height: 9.125em;
}

.barPieContainer {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1.5rem;
}

.pieChart {
  flex: 1;
  min-width: 0;
  max-width: 25em;
}

.toggleIcon {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Responsive Adjustments */
@media (max-width: 1200px) {

  .welcomeCard,
  .barChart {
    max-width: 40em;
  }

  .chart1,
  .chart2,
  .chart3 {
    width: 20rem;
  }
}

@media (max-width: 992px) {
  .dashboard {
    flex-direction: column;
  }

  .authContainer {
    justify-content: center;
    margin-bottom: 1rem;
  }

  .cardContainer,
  .lineChartsContainer,
  .barPieContainer {
    flex-direction: column;
  }

  .welcomeCard,
  .barChart {
    max-width: 100%;
  }

  .chart1,
  .chart2,
  .chart3 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .loginButton {
    font-size: 0.875rem;
    padding: 0.5rem;
  }

  .userBadge button {
    font-size: 0.875rem;
    padding: 0.5rem;
  }

  .content {
    padding: 1rem;
  }
}